
<h1>Hello <%="#{current_user.name}"%></h1>
<br> <a href="http://127.0.0.1:9393/logout" > logout</a>
<br> <a href="http://127.0.0.1:9393/babies/new" > Add a new baby</a>
<br> <a href="http://127.0.0.1:9393/events/new" > Log a new event </a>
<br>
<br>

<br> <h3> Kids </h3>
<%user_babies.each do |name|%>
<li><%=name%>
<%end %>
<li>



<% user_events.each do |p| %>
    <p><%= p.content %> - <%= p.id %> 
        <% if current_user == p.user %>
            <a href="/events/<%= p.id %>/edit">Edit</a> 
            <form action="/events/<%= p.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Post">
            </form>
        <% end %>
    </p>
<% end %>












