
<h1 class="profile_name"> Hello <%="#{current_user.name}"%></h1>
<br> <a href="http://127.0.0.1:9393/logout" > logout</a>
<br> <a href="http://127.0.0.1:9393/babies/new" > Add a new baby</a>
<br> <a href="http://127.0.0.1:9393/events/new" > Log a new event </a>
<br>
<br>

<div class="show_kids">
<h3> Kids </h3>
</div>

<% users_babies.each do |b| %>

    <br> <%= b.name%>
    <%= b.DOB%>
    <a href="/babies/<%= b.id %>/edit">Edit</a>
    <a href="/babies/<%= b.id %>">View all events</a>
   
<% end %>



<div class="container">
    <% user_events.each do |p| %>
            <% f = Baby.find_by(id:p.baby_id) %>
            Baby: <%= f.name %>
            <br> <%= p.time %>
            <br> <%= p.content %> 
                    <% if current_user == p.user %>
                        <a href="/events/<%= p.id %>/edit">Edit</a> 
                        <form action="/events/<%= p.id %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="Delete Post">
                        </form>
                    <% end %>
    <% end %>
</div>















