
<h1 class="profile_name"> Hello <%="#{current_user.name}"%> <br> <a href="/users/<%= current_user.id %>/edit" > edit </a></h1>
<br> <a href="http://127.0.0.1:9393/logout" > logout</a>
<br> <a href="http://127.0.0.1:9393/babies/new" > Add a new baby</a>
<br> <a href="http://127.0.0.1:9393/events/new" > Log a new event </a>
<br>
<br>

<div class="show_kids">
<h3> Kids </h3>
</div>

<% current_user.babies.each do |b| %>
    <br> <%= b.name%>
    <%= b.DOB%>
    <a href="/babies/<%= b.id %>/edit">Edit</a>
    <a href="/babies/<%= b.id %>">View all events</a> 
<% end %>





<div class="container">
    <% current_user.babies.each do |p| %>
            Baby: <%= p.name %>
            <br>
    <% p.events.each do |e| %>  
         time: <%= e.time %>
         content: <%= e.content %>   
         <br>
          <a href="/events/<%= e.id %>/edit">Edit</a> 
          <form action="/events/<%= e.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete Post">
          </form>     
       <% end %>            
    <% end %>
</div>

















